@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

$spacing: 0.1%;

.word {
  display: inline-block;
  max-width: 10%;
  background-color: red;
  padding-left: $spacing;
  padding-right: $spacing;

  @include transition(opacity 1s, max-width 1s, padding-left 1s, padding-right 1s);
  &.unselected {
    opacity: 0;
    max-width: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }
}
