@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,700,700italic&subset=latin,greek,cyrillic,greek-ext,cyrillic-ext,vietnamese,latin-ext);

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

* { 
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  max-width: 40em;
  margin: 0 auto;
  width: 100%;
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

// Vars
$spacing: 1em;

.word {
  display: inline-block;
  max-width: 50%;
  background-color: white;
  padding-right: $spacing;

  @include transition(
    opacity 1s,
    max-width 1s,
    padding-left 1s,
    padding-right 1s,
    background-color 1s);

  &.unselected {
    opacity: 0;
    max-width: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }

  &.highlight {
    background-color: purple;
  }
}

.autocompleter {
  width: 15em;
  margin-left: -18em;
}
